# Author.: Anonymous Planet
# License.: CC BY-NC 4.0

# Minimize global Ruby .gitignore
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
.cache/
vendor/
Gemfile*

# Artifact from PDF tests
*.log

# Linters
megalinter-reports/

# CZ
.cz.toml
